@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-prev,
.slick-next {
  width: 44px;
  height: 44px;
  padding: 8px;            /* 👈 yahin padding */
  background: rgba(11, 11, 11, 0.1);
  border-radius: 50%;
  z-index: 50;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 30px;
}
